@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Permanent+Marker&family=Roboto:wght@500&display=swap');

$body-bg: rgb(46, 82, 102);
$dark: rgba(32, 57, 71);
$primary: #d52941;
$body-color: #eaf2ef;
$card-bg-color: rgba(0, 0, 0, 0.3);
$std-spacing: 10px;

@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Permanent Marker', cursive;
}

.logo.login-page,
.logo.signup-page {
  font-size: 90px;
  margin: 0 auto;
  text-align: center;
  color: $primary;
}

.header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 999;
  box-shadow: 1px 1px $std-spacing #000;

  a {
    color: $body-color;
  }

  a:hover {
    color: $primary;
  }

  .logo {
    color: $primary;
  }
}

.main {
  margin: 80px 5px;

  a {
    text-decoration: none;
  }
}

img {
  width: 100%;
  box-sizing: border-box;
}

h1,
h2 {
  color: $primary;
}

.login-signup--page {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.login--form,
.signup--form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: $std-spacing;

  input,
  button {
    width: 100%;
    box-sizing: border-box;
  }

  label {
    color: $body-color;
  }
}

.card-text,
.titleText {
  color: $body-color;
}
.movie-card {
  z-index: 998;
}

.movie-card--button {
  top: 0;
  position: absolute;
  margin: $std-spacing;
}

.movie-favorites-button {
  margin: $std-spacing;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
}

.movie-card:hover {
  background: $card-bg-color;
  box-shadow: 1px 1px $std-spacing #000;
}

.one-movie--view {
  background-color: $card-bg-color;
  box-shadow: 1px 3px $std-spacing #000;
  box-sizing: border-box;
  margin: 0 3px;

  .col-md-6:first-child {
    padding-left: 0;
    padding-right: 0;
  }

  .col-md-6:last-child {
    padding-top: $std-spacing;
    padding-bottom: $std-spacing;
  }
}
